<%= form_for(@hotel, url: hotel_fotos_path(@hotel), method: :post) do |f| %>
  <% @hotel.fotos.each do |h| %>
    <%= link_to(image_tag(h.thumb.url, alt: 'foto'), h.url, target: '_blank') %> <emsp/>
  <% end %>
  <div class= "field">
    <%= f.file_field :fotos, multiple: true %>
  </div>
  <div class="actions"> 
    <!-- disabled: f.file_field([],) -->
    <%= f.submit "Agregar Fotos" %>
  </div>
<% end -%>