<%= form_tag(hotel_foto_path(@hotel), method: :DELETE) do %>
  <div>
    <% @hotel.fotos.each_with_index do |image, ind| %>
      <%= check_box_tag("remove_images[]", ind) %>
      <%= link_to(image_tag(image.thumb.url), url: image.url, target: '_blank') %> <emsp/>
    <% end -%>
  </div>
  <div>
    <%= submit_tag "Eliminar imagenes", display: :none if @hotel.fotos? %>
  </div>
<% end -%>