<h1>Agregar más fotos a la galería</h1>
<% @hotel.fotos.each do |h| %>
  <%= image_tag(h.thumb.url, alt: 'foto') %> <emsp/>
<% end %>

<%= render 'add_fotos', object: @hotel %>

<%= link_to 'Back', hotel_path(@hotel) %>